<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/mobile/style.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Rachki</title>
</head>
<header>
    <div class="header flex fd-row jc-center ait-center">
        <a href="#"><h1 class="logo">Rachki</h1></a>
    </div>
</header>
<body class="flex fd-col">
    <div class="main-div flex fd-col jc-center ait-center" id="about">
        <div class="about-block flex ait-center ww p-3">
            <h3>Спека? По запотілому келиху крижаного пива стікають краплі води прямо на твою руку.<br>
                А ти й досі не замовив у нас смачних свіжозварених раків,  креветок або запечених мідій!?<br>
                Ти навіть не розумієш що ти втрачаєш!<br>
                Ми компанія з більш ніж 20-ти річним досвідом.<br>
                Нас полюбляють та поважають за незмінні традиції, неперевершений смак та незабутні емоції, які ви неодмінно відчуєте від нашого фірмового набору спецій які ми використовуємо при варінні та ароматної зеленої олії яку ми додаємо безкоштовно до кожного вашого замовлення.</h3>
        </div>
    </div>
    <div class="main-div flex fd-col jc-center ait-center" id="menu">
        <div class="menu-block flex ait-center jc-center p-3">
            <table class="menu-table">
                <tbody>
                <tr class="table-title">
                    <td>Позиція</td>
                    <td>250г.</td>
                    <td>500г.</td>
                    <td>1000г.</td>
                    <td>2000г.</td>
                </tr>
                <tr>
                    <td>Варені раки</td>
                    <td>125 грн.</td>
                    <td>240 грн.</td>
                    <td>450 грн.</td>
                    <td>850 грн.</td>
                </tr>
                <tr>
                    <td>Варені креветки</td>
                    <td>75 грн.</td>
                    <td>140 грн.</td>
                    <td>250 грн.</td>
                    <td>450 грн.</td>
                </tr>
                <tr>
                    <td>Варені лангустини</td>
                    <td>200 грн.</td>
                    <td>375 грн.</td>
                    <td>700 грн.</td>
                    <td>1250 грн.</td>
                </tr>
                <tr>
                    <td>М'ясо лобстера</td>
                    <td>1500 грн.</td>
                    <td>2700 грн.</td>
                    <td>5000 грн.</td>
                    <td>9000 грн.</td>
                </tr>
                <tr>
                    <td>М'ясо краба</td>
                    <td>850 грн.</td>
                    <td>1500 грн.</td>
                    <td>2800 грн.</td>
                    <td>5000 грн.</td>
                </tr>
                <tr>
                    <td>Запечені мідії</td>
                    <td>150 грн.</td>
                    <td>275 грн.</td>
                    <td>500 грн.</td>
                    <td>900 грн.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main-div flex fd-col ait-center jc-sp-around" id="order">
        <div class="flex fd-row jc-center ait-center">
            <h1 class="text-al-center">Замовляй прямо зараз</h1>
        </div>
        <div class="order-block flex ait-center ww p-3">
            <h3>До кожного нашого замовлення ми безкоштовно прикладаємо гумові рукавиці, вологі серветки, а також нашу фірмову зелену олію, яка так вам полюбилася.<br>
                Одразу після вашого замовлення наші кухарі виловлять свіжі морепродукти з нашого акваріуму і приступлять до їхнього приготування.<br>
                Як тільки ваше замовлення буде готово, ми ретельного його запакуємо і наші досвідчені кур’єри доставлять його якомога швидше.</h3>
        </div>
    </div>
    <div class="main-div flex fd-col ait-center jc-center" id="contacts">
        <div class="contacts-block flex p-2">
            <div class="flex numbers-block w100">
                <h1 class="ph-numb-text">+38 (097) 777 77 77</h1>
                <h1 class="ph-numb-text">+38 (093) 333 33 33</h1>
                <h1 class="ph-numb-text">+38 (095) 555 55 55</h1>
                <h1 class="ph-numb-text">0 800 300 333</h1>
                <h2 class="adress-text text-al-center">М. Кременчук, вул. Соборна 16</h2>
            </div>
                <div class="flex fd-col ait-start w100">
                    <div class="flex fd-row w100 h100 jc-start ait-center">
                        <img src="/images/icons/facebook.svg" class="icon">
                        <h3>Rachki Kremenchuk</h3>
                    </div>
                    <div class="flex fd-row w100 h100 jc-start ait-center">
                        <img src="/images/icons/telegram.svg" class="icon">
                        <h3>@rachki_kremen</h3>
                    </div>
                    <div class="flex fd-row w100 h100 jc-start ait-center">
                        <img src="/images/icons/instagram.svg" class="icon">
                        <h3>@rachki_kremen</h3>
                    </div>
                    <div class="flex fd-row w100 h100 jc-start ait-center">
                        <img src="/images/icons/twitter.svg" class="icon">
                        <h3>@rachki_kremen</h3>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>